/* Default styles */
* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f5f5f5;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
}

.main-title {
  text-align: center;
  font-size: 31px;
  margin-bottom: 50px;
}

/* Tabs styles */
.wrapper{
  padding: 0 10px;
}

.tabs-box {
  overflow-x: auto;
  margin: 0 4px;
}

.tabs-box::-webkit-scrollbar {
  height: 1px;
  background-color: #585858;
}

.tabs-box::-webkit-scrollbar-thumb {
  background-color: #888;
}

.tabs {
  display: flex;
  column-gap: 9px;
  white-space: nowrap;
  max-width: 100px;
}

.tabs__item {
  cursor: pointer;
  padding: 6px 8px;
  border: 2px solid #888;
  border-bottom: 0;
  border-radius: 5px 5px 0 0;
  background-color: #e8e8e8;
  font-size: 15px;
}

.tabs__item--active {
  background-color: #fff;
}

.tabs-content {
  display: flex;
  column-gap: 22px;
  flex-wrap: wrap;
  border: 2px solid #888;
  min-height: 270px;
  padding: 15px;
}

.tabs-content__item {
  text-align: center;
  min-width: 60px;
}

.tabs-content__title {
  font-size: 12px;
}

.tabs__img {
  border: 2px solid #888;
  min-width: 60px;
  max-width: 60px;
  max-height: 55px;
  object-fit: cover;
}

@media (max-width: 575px) {
  .main-title {
    font-size: 24px;
    margin-bottom: 30px;
  }
}

@media (max-width: 520px) {
  .tabs-widget {
    min-width: auto;
  }
}